body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #2E2F42;
    color: #404BBF;
    color: black;
    text-align: left;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 4%;
}
a:hover {
    color: #404BBF;
}
.web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17
    letter-spacing: 0.03em
    text-transform: uppercase
    color: #4d5ae5;
}
.main-button {
    background-color: #2E2F42;
}
.Solutions {
    color: #ffffff;
    padding-top: 188px;
    padding-bottom: 292px;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.button {
    background-color: #4D5AE5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.button:hover {
    background-color: #404BBF;
    transition: 0.4s;
}
.button:focus {
    background-color: #404BBF;
        transition: 0.4s;
}
.button-text {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4%;
}
.our-team {
    background-color: #F4F4FD;
}
.text-on-footer {
        color: #4D5AE5;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.03em;
            line-height: 1.17;
            text-transform: uppercase;
}
footer {
    background-color: #2E2F42;
}
.p-on-footer {
    color: #F4F4FD;
    font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.studio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    color: #f4f4fd;
}
.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
h3 {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
    color: #2e2f42;
}
.sec-thir-sections {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17
    letter-spacing: 0.03em
    text-transform: uppercase
    color: #4D5AE5;    
